@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

button {
  background-color: #b0803b;
  border: none;
  color: #ffffff;
  font-weight: 500;
  font-family:
    Poppins, 
    sans-serif;
  padding: 8px 12px 8px 12px;
  margin: 8px;
  font-size: 1rem;
  border-radius: 8px;
  text-align: center;
}

select {
  appearance: none;
  -webkit-appearance: none;
  background-position: right 16px center;
  background-color: #b0803b;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12'%3E%3Cpath fill='%23ffffff' d='M6 8L1 3h10z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 16px center;
  border: none;
  color: #ffffff;
  font-weight: 500;
  font-family:
    Poppins, 
    sans-serif;
  padding: 8px 40px 8px 12px;
  margin: 8px;
  font-size: 1rem;
  border-radius: 8px;
  text-align: center;
}

h1 {
  margin-left: 2vw;
  font-family: Acme, sans-serif;
  font-weight: 600;
}

h2 {
  font-family: Acme, sans-serif;
  color: #b0803b;
  font-weight: 600;
}

h3 {
  font-family: Acme, sans-serif;
  font-weight: 600;
}

p {
  margin-bottom: 1em;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
